Repository MarcossVini/URL-Shortener: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.prisma": ["prisma format"]
}

docs: adiciona arquivo de teste para demonstração
  teste.txt
Due: none

chore: remove arquivo de teste da demonstração
  teste.txt
Due: none

docs: adiciona scripts de setup e configuração para integração com repositório remoto
  .env.example
  README.md
  setup.ps1
  setup.sh
Due: prettier --write

fix: atualiza dependencia do projeto
  package-lock.json
  src/features/auth/useCases/login/LoginUseCase.ts
  src/features/shorten/useCases/createShortUrl/CreateShortUrlController.ts
  src/features/shorten/useCases/deleteShortUrl/DeleteShortUrlController.ts
  src/features/shorten/useCases/listUserUrls/ListUserUrlsController.ts
  src/features/shorten/useCases/updateShortUrl/UpdateShortUrlController.ts
  src/shared/middlewares/authMiddleware.ts
Due: eslint --fix, prettier --write

ci: garantir execução de testes de integração após cada PR
  .eslintrc.json
  docs/OBSERVABILITY.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/shared/middlewares/authMiddleware.ts
  src/shared/observability/example-integration.ts
  src/shared/observability/logger.ts
  src/shared/observability/metrics.ts
  src/shared/tests/auth.api.test.ts
  src/shared/tests/dto.validation.test.ts
  src/shared/tests/observability.test.ts
  src/shared/tests/setup.test.ts
  src/shared/tests/setup.ts
  src/shared/tests/shorten.api.test.ts
  src/shared/tests/user.api.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: adicionar workflow GitHub Actions para lint, testes e build
  .github/workflows/ci.yml
  .husky/pre-commit
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/config/tracing.ts
  src/features/shorten/routes/shorten.routes.ts
  src/features/shorten/useCases/redirect/RedirectController.ts
  src/server.ts
Due: eslint --fix, prettier --write

ci: ajusta cache de pnpm e instala pnpm no CI
  .github/workflows/ci.yml
Due: prettier --write

ci: ajusta cache de pnpm
  .github/workflows/ci.yml
Due: prettier --write

ci: use pnpm/action-setup for pnpm installation
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): add debug for pnpm installation in CI
  .github/workflows/ci.yml
Due: prettier --write

chore(husky): fix lint-staged invocation via pnpm exec
  .github/workflows/ci.yml
  .husky/pre-commit
Due: prettier --write

ci(cd): configura deploy
  .github/workflows/cd.yml
  package.json
  vercel.json
Due: prettier --write

ci(cd): ajusta deploy
  src/server.ts
  src/shared/observability/logger.ts
  vercel.json
Due: eslint --fix, prettier --write

ci(cd): ajusta deploy
  vercel.json
Due: prettier --write

ci: configure CD with Vercel secrets
  .github/workflows/cd.yml
Due: prettier --write

ci: reordena pnpm
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .nvmrc
  package.json
Due: prettier --write

fix: update CI/CD workflows to handle pnpm lockfile
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier --write

fix: add prisma generate step and fix TypeScript types
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  src/features/shorten/useCases/listUserUrls/ListUserUrlsUseCase.ts
Due: eslint --fix, prettier --write

fix: correct Prisma import to use @prisma/client
  src/database/prisma.ts
Due: eslint --fix, prettier --write

fix: add DATABASE_URL for prisma generate and use direct npx command
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier --write

fix: use lowercase repository name for Docker registry
  .github/workflows/cd.yml
Due: prettier --write

fix: use hardcoded lowercase repository name for Docker registry
  .github/workflows/cd.yml
Due: prettier --write

fix: remove frozen-lockfile flag from Dockerfile pnpm install
  Dockerfile
Due: none

fix: add DATABASE_URL environment variable for Prisma generation in Dockerfile
  Dockerfile
Due: none

fix: use direct npx prisma generate instead of pnpm script in Dockerfile
  Dockerfile
Due: none

fix: use github.actor instead of hardcoded username for Docker registry
  .github/workflows/cd.yml
Due: prettier --write

fix: add step to convert GitHub actor to lowercase for Docker registry
  .github/workflows/cd.yml
Due: prettier --write

fix: add explicit packages write permission for GitHub Container Registry
  .github/workflows/cd.yml
Due: prettier --write

fix: remove unsupported --project flag from Vercel CLI command
  .github/workflows/cd.yml
Due: prettier --write

fix: improve Vercel deployment configuration and environment variables
  .github/workflows/cd.yml
  vercel.json
Due: prettier --write

fix: update Vercel CLI command with correct flags and remove project-specific env vars
  .github/workflows/cd.yml
Due: prettier --write

fix: correct Vercel build path and add root route redirect to docs
  PROJECT_CHECKLIST.md
  src/server.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: resolve serverless crashes (imports, env validation, tracing)
  PROJECT_CHECKLIST.md
  src/config/env.ts
  src/config/tracing.ts
  src/server.ts
Due: eslint --fix, prettier --write

fix: completely disable tracing in production and improve env handling
  src/config/env.ts
  src/config/tracing.ts
Due: eslint --fix, prettier --write

fix: simplify tracing to prevent serverless crashes
  src/config/tracing.ts
Due: eslint --fix, prettier --write

fix: add error handling and Vercel config per troubleshooting guide
  src/server.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: resolve lint errors - remove unused parameter and improve type safety
  src/features/shorten/useCases/listUserUrls/ListUserUrlsUseCase.ts
  src/server.ts
Due: eslint --fix, prettier --write
