Repository MarcossVini/URL-Shortener: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.prisma": ["prisma format"]
}

fix: remove conflicting properties from vercel.json
  vercel.json
Due: prettier --write

fix: add prisma generate to vercel-build script
  package.json
Due: prettier --write

chore: trigger deployment to update main production URL with v1.0.20+ fixes
  .gitignore
  README.md
Due: prettier --write

fix: winston logger serverless compatibility
  .gitignore
  README.md
  src/shared/observability/logger.ts
  wait-for-deployment.js
Due: eslint --fix, prettier --write

fix: vercel build command to use vercel-build script
  vercel.json
Due: prettier --write

fix: vercel.json routing configuration
  vercel.json
Due: prettier --write

fix: simplify vercel.json configuration
  vercel.json
Due: prettier --write

fix: make husky prepare script optional for production
  package.json
Due: prettier --write

fix: exclude test files from TypeScript build for Vercel deployment
  tsconfig.json
  vercel.json
Due: prettier --write

fix: correct Vercel configuration for serverless deployment
  vercel.json
Due: prettier --write

fix: configure proper Vercel serverless function structure
  api/index.js
  vercel.json
  wait-for-deployment.js
Due: eslint --fix, prettier --write

fix: correct serverless function export for Vercel
  api/index.js
Due: eslint --fix, prettier --write

fix: simplify Vercel build process and add .vercelignore
  .vercelignore
  package.json
  vercel.json
Due: prettier --write

fix: exclude prisma seed from TypeScript build for production
  tsconfig.json
Due: prettier --write

fix: remove src/ from .vercelignore to allow TypeScript compilation
  .vercelignore
Due: none

fix: resolve Vercel deployment errors
  package.json
  pnpm-lock.yaml
  src/features/shorten/routes/shorten.routes.ts
  src/server.ts
Due: eslint --fix, prettier --write

fix: resolve lint error in error handler middleware
  src/server.ts
Due: eslint --fix, prettier --write

fix: resolve vercel build issues with dependencies
  PROJECT_CHECKLIST.md
  README.md
  package.json
  pnpm-lock.yaml
  vercel.json
Due: prettier --write

fix: improve docker build process and resolve pnpm install issues
  .dockerignore
  Dockerfile
  Dockerfile.multi-stage
  package.json
Due: prettier --write

fix: remove problematic pnpm store prune command from dockerfile
  Dockerfile
Due: none

fix: improve dockerfile with ARG for DATABASE_URL and remove postinstall conflicts
  Dockerfile
  package.json
Due: prettier --write

fix: correct vercel.json configuration with proper builds and routes
  vercel.json
Due: prettier --write

fix(vercel): correct static assets routing for Swagger UI
  vercel.json
Due: prettier --write

fix(swagger): serve static assets correctly for Swagger UI
  src/server.ts
  vercel.json
Due: eslint --fix, prettier --write

fix(swagger): simplify swagger-ui setup without external dependencies
  package.json
  src/server.ts
Due: eslint --fix, prettier --write

fix(deps): clean install dependencies without swagger-ui-dist direct reference
  pnpm-lock.yaml
Due: prettier --write

fix(swagger): conditional import - disable in production to avoid swagger-ui-dist issues
  src/server.ts
Due: eslint --fix, prettier --write

fix(swagger): enable Swagger UI in production - restore full documentation interface
  src/server.ts
Due: eslint --fix, prettier --write

fix: corrige documentação Swagger para ambiente serverless
  src/config/swagger.ts
Due: eslint --fix, prettier --write

fix: resolve Swagger UI static assets issue in Vercel serverless environment
  src/server.ts
Due: eslint --fix, prettier --write

fix: configure CSP to allow Swagger UI external resources
  src/server.ts
Due: eslint --fix, prettier --write

fix: allow API connections in CSP for Swagger UI testing
  src/server.ts
Due: eslint --fix, prettier --write

feat: fix CSP configuration for external scripts in Swagger UI
  public/swagger-init.js
  src/server.ts
Due: eslint --fix, prettier --write

feat: optimize CI/CD pipeline and Vercel integration
  .github/workflows/cd.yml
  .github/workflows/deploy-preview.yml
  .vercelignore
  VERCEL_SETUP.md
  api/index.js
  deploy.ps1
  deploy.sh
  public/api-tester-advanced.html
  public/swagger-ui-custom.html
  src/server.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: correct vercel.json configuration and update project IDs
  vercel.json
Due: prettier --write

fix: resolve GitHub Actions workflow syntax errors and improve deployment verification
  .github/workflows/cd.yml
  .github/workflows/deploy-preview.yml
Due: prettier --write

feat: improve deployment verification with better error handling and diagnostics
  .github/workflows/cd.yml
  .github/workflows/deploy-preview.yml
Due: prettier --write

fix: allow inline scripts in CSP for Swagger UI
  src/server.ts
Due: eslint --fix, prettier --write

docs(readme): update API documentation with endpoint verification
  README.md
Due: prettier --write
